<h1> YOUR BOOKINGS</h1>

<div class="row">
  <% @bookings.each do |booking| %>
    <div class="co-8 col-sm-6 col-sm-4">
      <%= booking.start %>
      <%= booking.end %>
      <%= booking.bike.name %>
    </div>
  <% end %>
</div>

  <%= link_to "Back to home", root_path %>
