<div class="banner">
  <footer>
      <ul class="list-inline">
        <li><a href="https://www.instagram.com/jasan_waldura/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://github.com/Jasan707"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jasan-waldura-b-sangma-4153bb172/"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </footer>
</div>
