<div class="banner">
<h1> OUR BIKES click on it to create a booking</h1>

  <div class="cards">
    <div class="co-12 col-sm-6 col-md-4">
      <% if @bikes.blank? %>
          <h1> Hello There </h1>
        <% else %>
          <% @bikes.each do |bike| %>
          <%= link_to bike_path(bike), class: "text-decoration-none" do %>
          <%= bike.name %>
      <% end %>
    </div>
  </div>
  <% end %>

  <%= link_to "Back to home", root_path %>
</div>
<% end %>
