.banner {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  padding: 40px;
  margin: 30px auto;
  width: 1100px;
  text-align: left;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
