.btn {
  padding: 5px 15px;
  border-radius: 20px;
  margin: 10px;
}

.btn-secondary {
  background-color: white;
  border: 2px solid $primary;
  color: $primary
}

.btn-secondary:hover {
  background-color: $primary;
  color: white;
  border: 2px solid $primary;
}

.btn-secondary:after {
  background-color: white;
  border: 2px solid $primary;
  color: $primary
}

.btn-confirmation {
  background-color: #D4F6CC;
}

.btn-confirmation:hover {
  background-color: #D4F6CC;
  border-color: #3CCF4E;
}
