.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bottomtext {
  font-size: 24px;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
}

.card {
  // Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
}
