.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 0 5px;
  padding: 25px 0px 25px 80px;
}

.card {
  background-size: cover;
  background-position: center;
//  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cardtext-link {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.cardtext-pos {
  position: absolute;
  padding: 20px;
  bottom: 0;
}

.cardtext {
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content:flex-end;
  position: relative;
  gap: 50px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
