.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 0 5px;
  padding: 25px 0px 25px 80px;
}

.card {
  background-size: cover;
  background-position: center;
//  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cardtext-link {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.cardtext-pos {
  position: absolute;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.cardtext {
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 50px;
}

.card-booking {
  overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-image: url("https://images.unsplash.com/photo-1571068316344-75bc76f77890?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80.jpg");
  background-position: left;
  border-radius: 4px;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

.cards-confirmation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 25px 0;
}

.card-confirmation {
  margin-left: 22px;
  padding: 18px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-confirmation p {
margin: 0;
}

.card-confirmation a {
  position: absolute;
  right: 8px;
  top: 4px;
  }
