footer {
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.list-inline li {
  display: inline;
  padding: 1px;
  font-size: 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline a {
  color:#004c8b;
}

.list-inline a :hover {
  color: bisque;
}
