footer {
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.list-inline li {
  display: inline;
  padding: 10px;
  font-size: 30px;
}

.list-inline {
  list-style: none;
  padding-left: 10px;
}

.list-inline a {
  color:rgb(80, 65, 43);
}

.list-inline a :hover {
  color: bisque;
}
