// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "banner";
@import "footer";
@import "button";
@import "showcard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
