.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  // border-radius: 5px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #929292;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.1)
}

.mapboxgl-popup-close-button {
  border: none;
  font-size: 16px;
  font-family: Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  font-weight: bold;
}
