.navbar-lewagon {
  justify-content: space-between;
  background: #f2e8cf;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-collapse a {
  color: #162719;
}
