.form-control {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.search {
  .form-control {
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 50%;
    margin: 0px 0px 0px 300px;
  }
}
