// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:linear-gradient(0deg, rgba(185, 168, 142, 0.9), rgba(185, 168, 142, 0.9)), url(https://images.unsplash.com/photo-1574016875996-0f174122b805?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-size: cover;
}
